<div id="nodo-tree">
	<svg width="960" height="600"></svg>
</div>

<!-- Para editar el código del script D3, ir a 'js/init.js' -->
<!-- TODO BONUS: Click en un nodo abre una lista de objetos relacionados a ese objeto -->