<div class="content">
	<div class="row">
		<div class="col-lg-6">
			<div id="nodo-tree">
				<svg width="960" height="600"></svg>
			</div>
		</div>

		<div class="col-lg-6">
			<div id="user">
			
			</div>
		</div>
	</div>
</div>





<!-- Para editar el código del script D3, ir a 'js/init.js' -->
<!-- TODO BONUS: Click en un nodo muestra una lista de objetos relacionados a ese objeto -->