/* D3 Graph Styles */
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* Misc Styles */
header {
  background-color: #ccc;
}

.logo {
  width: 200px;
  padding: 5px 5px 5px 20px;
}

.title {
  color: white;
  font-size: 30px;
  display: inline-block;
  margin: 0;
  float: right;
  padding: 25px;
}